/* General styles */
body {
  margin: 10px;
  padding: 20px;
  font-family: "Arial", sans-serif;
  background-image: url("../image/grocery.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
}

.background-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}


.widget-container {
  width: 30rem;
  max-width: 500px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  text-align: center;
}


.masthead {
  margin-bottom: 30px;
}

.masthead i {
  color: #ff5722;
  font-size: 60px;
}


.icon-container {
  margin-bottom: 20px;
}


.tagline {
  font-weight: bold;
  font-size: 2rem;
  color: #ff5722;
}


.main-content input[type="text"],
.main-content button {
  width: calc(100% - 40px);
  margin-bottom: 20px;
  padding: 15px;
  font-size: 1.2rem;
}

.main-content button {
  height: 50px;
  background-color: #ff5722;
  color: #fff;
  border: none;
}

.main-content ul {
  text-align: left;
  padding-left: 40px;
}


.error-message {
  color: #ff0000;
}

.social-link {
  display: inline-block;
  margin: 0 15px;
  font-size: 24px;
  color: #ff5722;
}


.social-link:hover {
  color: #ffab91;
  text-decoration: underline;
}

.footer {
  margin-top: 30px;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .background-container {
    flex-direction: column;
    align-items: center;
  }

  .main-content input[type="text"],
  .main-content button {
    width: calc(100% - 30px);
    padding: 12px;
    font-size: 1rem;
  }

  .widget-container {
    width: 90%;
    padding: 30px;
  }

  .masthead i {
    font-size: 48px;
  }

  .tagline {
    font-size: 1.5rem;
  }

  .social-link {
    margin: 0 10px;
    font-size: 20px;
  }
}
